/* TAG BASE */

body {
    margin: 0;
}

nav {
    margin-left: 10%;
}

body > * {
    margin-left: 10%;
    margin-right: 10%;
}

header { 
    margin: 0;
}

table {
    text-align: left;
}

thead {
    background-color: #20a9e5 ;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* TAG DI CLASSE E SELETTORI*/

/* Formattazione banner */
.pattern {
    background-color: #4ea0ff ;
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-size: auto 300px;
  }

  /* Formattazione logo */
.logo {
    width: 300px ;
    margin-left: 10%;
    padding-bottom: 20px ;
    padding-top: 50px;
}

/* Formattazione Titoli */
nav > * {
    font-family: Georgia, serif;
}

.title {
    margin: 20px auto 0 auto;    
    font-size: 36pt;
}

.writer {
    font-size: 24px;
    color: gray;
    margin-top: 0;
    margin-bottom: 0 ;
}

.data {
    font-size: 16px;
    color: gray;
    margin-top: 0;
}
 
/* Contenitore immagini */
.imgcontainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
}

.foto {
    width: 48%;
}

.caption {
    margin-top: 0;
    margin-bottom: 0;
}

/* Formattazione testo articolo */
.font > * {
    font-family: Georgia, serif;
    font-size: 18pt;
}

/* Formattazione testo evidenziato */
.highlight {
    background-color: yellow;
}

/* Formattazione elenco */
.list {
    margin-left: 0;
    padding-left: 20px;
}

/* Formattazione tabella  */

.table {
    border-collapse: collapse;
}

.quartertb {
    width: 25%;
}

.halftb {
    width: 50%;
}

/* Righe colorate tabella */
.odd {
    background-color: #b1e5f2;
}

/* Formattazione footer */
footer > * {
    font-family: Georgia, serif;
    background-repeat: no-repeat;
    color: white;
    font-size: 24pt;
    background-size: contain;
    font-weight: bold;
}

/* Div Footer con immagini  */
.bg1 {
    background-image: url(./img/monitor.jpg);
    height: 300px;
}

.bg2 {
    background-image: url(./img/graph.jpg);   
    height: 300px;
}

/* Testo su immagini footer */
.ontop {
    position:relative;
    top: 10px;
    left: 10px;
}