/* TAG DI FORMATTAZIONE  */

body {
    margin: 0px;
}

nav {
    margin-left: 10%;
}

body > * {
    margin-left: 10%;
    margin-right: 10%;
}

header { 
    margin: 0px;
}

table {
    text-align: left;
}

thead {
    background-color: #20a9e5 ;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* TAG DI CLASSE E SELETTORI*/

.pattern {
    background-color: #4ea0ff ;
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-size: auto 300px;
  }

.logo {
    width: 300px ;
    margin-left: 10%;
    padding-bottom: 20px ;
    padding-top: 50px;
}

nav > * {
    font-family: Georgia, serif;
}

.title {
    margin: 20px auto 0px auto;    
    font-size: 36pt;
}

.writer {
    font-size: 24px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px ;
}

.data {
    font-size: 16px;
    color: gray;
    margin-top: 0px;
}
 
.imgcontainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
}

.foto {
    width: 48%;
}

.caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.font > * {
    font-family: Georgia, serif;
    font-size: 18pt;
}

.highlight {
    background-color: yellow;
}

.list {
    margin-left: 0px;
    padding-left: 20px;
}

.quartertb {
    width: 25%;
}

.halftb {
    width: 50%;
}

.odd {
    background-color: #b1e5f2;
}

footer > * {
    font-family: Georgia, serif;
    background-repeat: no-repeat;
    color: white;
    font-size: 24pt;
    background-size: contain;
    font-weight: bold;
}

.bg1 {
    background-image: url(./img/monitor.jpg);
    height: 300px;
   }

.bg2 {
    background-image: url(./img/graph.jpg);   
    height: 300px;
    }

.ontop {
    position:relative;
    top: 10px;
    left: 10px;
}