/* TAG DI FORMATTAZIONE  */

body {
    margin: 0px;
}

nav {
    margin-left: 10%;
}

body > * {
    margin-left: 10%;
    margin-right: 10%;
}

header { 
    margin: 0px;
}

/* TAG DI CLASSE E SELETTORI*/

.pattern {
    background-color: #4ea0ff ;
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-size: auto 300px;
  }

.logo {
    width: 300px ;
    margin-left: 10%;
    padding-bottom: 20px ;
    padding-top: 50px;
}

nav > * {
    font-family: Georgia, serif;
}

.title {
    margin: 20px auto 0px auto;    
    font-size: 36pt;
}

.writer {
    font-size: 24px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px ;
}

.data {
    font-size: 16px;
    color: gray;
    margin-top: 0px;
}
 
.imgcontainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
}

.foto {
    width: 48%;
}

.caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.article {
    font-family: Georgia, serif;
    font-size: 18pt;
}

.highlight {
    background-color: yellow;
}